.todoList{
    display: flex;
    /* border:1px solid red; */
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}

.todoData{
    display: flex;
    background-color: #fff;
    height: 30px;
    font-size: 20px;
    border-radius: 8px;
    width: 83%;
    padding:10px 10px 10px 20px;
    margin-left: 10px;
}

.striked{
    text-decoration: line-through;
}

.inputStyle{
    height: 30px;
    font-size: 20px;
    border-radius: 8px;
    width: 60%;
    padding:10px 10px 10px 20px;
    margin: 20px 10px;
    border: none;
    outline: none;
}

.btn{
    padding: 6px 18px 12px;
    font-size:29px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 15px;
}

.close{
    padding: 10px 18px 12px;
    font-size:20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    margin-left: 10px;
    height: 50px;
}

.check{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    border-radius: 10px;
}